.center-align {
    margin-top: 12px;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 303px;
    height: 56px;
}

.footer button {
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
    width: 135px;
}