.place-page {
    margin-top: 12px;
}

.place-table {
    margin-top: 12px;
    width: 100%;
}

.place-table > table {
    width: 100%;
}

.center-align {
    text-align: center;
}

.mat-row:nth-child(odd){
    background-color:rgb(247 247 247)
}

.mat-paginator {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}