.header-spacer {
    flex: 1 1 auto;
}

.main {
        width: 98%;
        margin: auto;
        margin-top: 12px;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

// @hack
mat-sidenav-content {
    height: 90% !important;
    min-height: 90% !important;
}